@media (max-width:380) {
    
}

@media (max-width:430) {
    
}

@media (max-width:810) {
    
}

@media (max-width:1029) {
    
}

@media (max-width:1445) {
    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(background/background.jpg);
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    column-gap: 0px;
}

section {
    grid-column-start: 1;
    grid-column-end: 2;
}
article {
    background-color: white;
    width: 650px;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0px 100px 5px;
    box-shadow: 1px 1px 15px rgb(59, 59, 59);
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    padding: 15px;
    height: 100%;
    background-image: linear-gradient(to left,#1A1A1A, #1a1a1af6);
    box-shadow: -2px 0px 10px #807f7f;
}
img {
    position: fixed;
    border-radius: 50%;
}
ul {
    list-style: none;
}
#index {
    position: fixed;
    margin-top: 200px;
}
a {
    font-size: 2rem;
    text-decoration: none;
    color: #C9C9C9;
}
a:hover {
    text-decoration: underline;
    color: #696969;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
    height: 80px;
    font-size: .7rem;
    background-color: #526657;
}
.link-footer {
    font-size: .7rem;
    color: #A1B3A5;

}

.link-footer:hover {
    text-decoration: underline;
    color: white;
}
.item-footer {
    float: left;
    margin-left: 15px;
}
#copy {
    float: right;
    margin-top: -30px;
    margin-right: 40px;
}