@media only screen and (max-device-width: 700px) {
    nav { width: 730px;}
    a { font-size: 16px;}
    ul {margin-left: 130px; margin-top: 10px; position: absolute; width: 500px;}
}

* {
    font-family: cursive, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #136F63;
}

nav {
    height: 160px;
    border-radius: 10px;
    background-color: #E0CA3C;
}

img {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    border-radius: 50%;
}

li {
    margin-left: 20%;
    margin-top: 100px;
    text-align: center;
    list-style: none;
}

a {
    text-align: justify;
    font-size: 32px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

#titulo {
    float: left;
    padding-top: 40px;
    padding-left: 10px;
    font-size: 26px;
}

#nav-inicio {
    float: left;
}
#nav-sobre {
    float: left;
    margin-left: 40px;
}
#nav-livros {
    float: left;
    margin-left: 40px;
}

.texto {
    border-radius: 15px;
    width: 500px;
    margin-top: 30px;
    padding: 15px;
    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.418);
}

#bloco1 {
    position: relative;
    float: left;
    margin: 40px 210px;
}
