@media only screen and (max-device-width: 900px) {
    nav { width: 600px; };
    a { font-size: 16px; };
}

@media only screen and (max-device-width: 700px) {
    nav { width:400px; }
    a { font-size: 16px; }
}

* {
    font-family: cursive, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #136F63;
}

nav {
    height: 160px;
    border-radius: 10px;
    background-color: #E0CA3C;
}

img {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    border-radius: 50%;
}

li {
    margin-left: 20%;
    margin-top: 100px;
    text-align: center;
    list-style: none;
}

a {
    text-align: justify;
    font-size: 32px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

#titulo {
    float: left;
    padding-top: 40px;
    padding-left: 10px;
    font-size: 26px;
}

#nav-inicio {
    float: left;
}
#nav-sobre {
    float: left;
    margin-left: 40px;
}
#nav-livros {
    float: left;
    margin-left: 40px;
}

#titulo2 {
    font-size: 26px;
    font-family: sans-serif;
}

.geral {
    position: relative;
    padding: 5px;
    margin: 20px;
    background-color: #f1f1f1;
}

.link {
    font-size: 16px;
}
