body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(background/background2.jpg);
    background-attachment: fixed;
    background-size: 85% 90%;
}

article {
    background-color: white;
    height: 462px;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0px 100px 5px;
    box-shadow: 1px 1px 15px rgb(59, 59, 59);
}

aside {
    padding: 15px;
}
img {
    position: fixed;
    border-radius: 50%;
}
ul {
    list-style: none;
}
#index {
    position: fixed;
    margin-top: 200px;
}
a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #b4b3b3;
}
a:hover {
    text-decoration: underline;
    color: #696969;
}

footer {
    padding: 5px;
    height: 60px;
    font-size: .7rem;
    background-color: #526657;
}
.link-footer {
    font-size: .7rem;
    color: #A1B3A5;
}

.link-footer:hover {
    text-decoration: underline;
    color: white;
}
.item-footer {
    float: left;
    margin-left: 15px;
}
#copy {
    float: right;
    margin-top: -30px;
    margin-right: 40px;
}